<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace:命名空间，该值与接口保持一致 -->
<mapper namespace="com.newer.deliver.mapper.ShopUserMapper">
	<!-- 开启二级缓存，默认情况下没有有开启的 -->
	<cache />
	<!-- 定义Pojo类属性与数据表字段对应关系 -->

	<resultMap type="com.newer.deliver.pojo.Shop" id="shop">
		<id property="shop_id" column="shop_id" />
		<result property="shop_name" column="shop_name" />
		<result property="standby1" column="standby1" />
		<result property="pictrue_url" column="pictrue_url" />

	</resultMap>




	<select id="queryByShopName" resultMap="shop"
		parameterType="String">
		select shop_id,shop_name,pictrue_url,standby1 from t_shop
		<where>
			<if test="shop_name!=null">
				and shop_name like #{shop_name}
			</if>
		</where>
	</select>

	<select id="queryByView" resultMap="shop">
		select
		shop_id,shop_name,pictrue_url,standby1 from
		t_shop order by standby1
		desc limit 12
	</select>

	<update id="addView" parameterType="com.newer.deliver.pojo.Shop">
		update t_shop set standby1 =
		#{standby1} where shop_id=
		#{shop_id}

	</update>

</mapper>
